section#footer.version-3.py-5
  .container.py-lg-5
    .row
      .col-12.col-sm-12.col-md-4.col-lg-4
        .footer-brand
          .d-flex.align-items-center.mb-3
            a.me-2(href='/')
              img.img-fluid(src='/images/logo/cabo-san-lucas-rides.png')

      .col-6.col-sm-6.col-md-4.col-lg-4
        h4 Menu
        ul
          li
            a(href='/index.html#welcome') Private Transportation
          li
            a(href='/experiences/coffee-flight') Why Choose Us
          li
            a(href='/experiences/private-events') What Make Us Different
          li
            a(href='/experiences') Book Now
          li
            a(href='/experiences') Arrival Guide
          li
            a(href='/experiences') Testimonials
      .col-6.col-sm-6.col-md-4.col-lg-4
        h4 Another Links
        ul
          li
            a(href='https://transportationforless.com') Transportation For Less
          li
            a(href='https://airportcabovip.com') Airport Cabo Vip
          li
            a(href='https://caboisfun.com') Cabo Is Fun
    .row
      .col-12
        a(href='https://transportationforless.com').footer-company
          | Cabo San Lucas Rides is company of Transportation For Less
          img(src='/images/logo/transportation-for-less-small.svg', height='60px')
    .row
      .col-12
        .social-links.text-center
          a(href='https://www.facebook.com/caboairportrideforless/' target='_blank' rel='nofollow' aria-label='Facebook')
            i.fa-brands.fa-facebook-f
          a(href='https://www.instagram.com/transportationforless/' target='_blank' rel='nofollow' aria-label='Instagram')
            i.fa-brands.fa-instagram
          a(href='https://wa.me/+526241085583?text=' target='_blank' rel='nofollow' aria-label='WhatsApp')
            i.fa-brands.fa-whatsapp

section#design
  .container
    .row
      .col-12.border-top
      .col-12.col-sm-12.col-md-8
        p © 2021 - 2026 Cabo San Lucas Rides. All rights reserved
      .col-12.col-sm-12.col-md-4.design
        a(href="https://mariocastrogallegos.com")
          img(src="/images/logo/mcg-white.svg", height="16")
          | Diseño Web en Los Cabos
.whatsapp-circle
  a(href='https://wa.me/+526241085583?text=')
    i.fa-brands.fa-whatsapp

style.
  section#footer.version-3 {
    background-color: #{color7};
  }
  section#footer.version-3 h4 {
    color: #{color4};
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  section#footer.version-3 ul {
    list-style: none;
    padding-left: 0;
  }
  section#footer.version-3 ul li {
    margin-bottom: 10px;
  }
  section#footer.version-3 ul li a {
    color: #{color1};
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
  }
  section#footer.version-3 ul li a:hover {
    color: #{color5};
    transform: 2s;
  }
  section#footer.version-3 .social-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  section#footer.version-3 .social-links a {
    margin: 0 15px;
  }
  section#footer.version-3 .social-links a svg {
    color: #{color1};
    height: 44px;
  }
  section#footer.version-3 .footer-company {
    align-items: center;
    color: #{color1};
    display: flex;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 2px;
    padding: 30px 0;
    text-transform: uppercase;
  }
  section#footer.version-3 .footer-company img {
    margin-left: 15px;
  }
  @media(max-width: 1199px){
    section#footer.version-3 .footer-company {
      font-size: 22px;
    }
  }
  @media (max-width: 991px) {
    section#footer.version-3 .footer-company {
      text-align: center;
      padding: 30px 15px;
      width: 100%;
    }
  }
  section#design {
    background-color: #{color7};
    font-size: 14px;
    height: auto;
    overflow: hidden;
    padding: 0 0 30px;
    width: 100%;
  }
  section#design .border-top {
    border-top: 1px solid #{colo1};
    padding-bottom: 30px;
  }
  section#design a,
  section#design p {
    align-items: center;
    color: #{color1};
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  section#design p {
    display: flex;
  }
  section#design a {
    display: inline-flex;
  }
  section#design a img {
    margin-right: 4px;
  }
  section#design .design {
    text-align: right;
  }
    /* Estilo adicional para coherencia de marca */
  .ls-1 { letter-spacing: 1px; }
  .transition-hover { transition: opacity 0.2s ease; }
  .transition-hover:hover { opacity: 0.7; }
  .site-footer a:hover { color: #C04B20 !important; } /* Ocre característico */

